body {
    min-height: 100dvh;
    background-image: url(img/fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.titulo {
    text-align: center;
    margin: auto;
    margin-top: -15px;
}
img {
    width: 100%;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    
}
.container {
    background-color: rgb(255, 255, 255);
    width: 85%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}
.filtros {
    max-width: 380px;
    padding-right: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
  .bfiltros {
    display: flex;
    position: static;
    margin-left: 0;
    margin-top: 0;
  }
}

.bfiltros {
  margin-top: 0;
  display: flex;
  position: static;
  margin-left: 0;
  width: 5em;
  height: 4em;
}
.btn {
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto;
    margin-top: 4%;

}

.menu {
    font-size: 18px;
    font-weight: bold;
    display: none;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 1000;
    top: 20px;
    width: 85%;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    height: 20%;
    text-align: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}
.opcoes {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 95px;
    position: absolute;
    width: 100%;
    align-items: flex-end;
}

@media (max-width: 768px) {
  .opcoes {
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    bottom: 50px;
    position: absolute;
  }
}

.mnpreto {
    background-color: rgb(255, 255, 255);
    width: 85%;
    max-width: 430px;
    font-size: 15px;
    display: none;
    position: absolute;
    text-align: center;
    top: 3%;
    z-index: 2000;
    left: 50%;
    transform: translateX(-50%);
}
.mnpreto img {
     height: auto;
     object-fit: cover;
     display: block;
     margin-bottom: 20px;
}

.colunapreto {
    display: grid;
    object-fit: contain;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
    flex-wrap: wrap;
    gap: 10px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .menu {
    font-size: 14px;
  }

  .colunapreto {
    grid-template-columns: 1fr;
  }

  .colunapreto img {
    width: 100%;
  }

  .filtros {
    width: 100%;
    max-width: none;
  }

  .menu, .mnpreto {
    width: 85%;
  }

  .opcoes {
    position: relative;
    margin-top: 20px;
    left: auto;
    flex-direction: column;
  }

  .opcoes h1 {
    font-size: 18px;
  }

  .titulo h1 {
    font-size: 1.5em;
  }

  .titulo p {
    font-size: 1em;
  }
}


button {
 appearance: button;
 background-color: #1899D6;
 border: solid transparent;
 border-radius: 16px;
 border-width: 0 0 4px;
 box-sizing: border-box;
 color: #FFFFFF;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
 font-weight: 700;
 letter-spacing: .8px;
 line-height: 20px;
 margin: 0;
 outline: none;
 overflow: visible;
 padding: 13px 19px;
 text-align: center;
 text-transform: uppercase;
 touch-action: manipulation;
 transform: translateZ(0);
 transition: filter .2s;
 user-select: none;
 -webkit-user-select: none;
 vertical-align: middle;
 white-space: nowrap;
 width: fit-content;
 max-width: 100%;

}

button:after {
 background-clip: padding-box;
 background-color: #6fcdf9;
 border: solid transparent;
 border-radius: 16px;
 border-width: 0 0 4px;
 bottom: -1px;
 content: "";
 left: 0;
 position: absolute;
 right: 0;
 top: 0;
 z-index: -1;
}

button:main, button:focus {
 user-select: auto;
}

button:hover:not(:disabled) {
 filter: brightness(1.1);
}

button:disabled {
 cursor: auto;
}

button:active:after {
 border-width: 0 0 0px;
}

button:active {
 padding-bottom: 10px;
}

.fbtn {
  position: absolute;
  left: 85%;
  top: 1%;
  width: 4em;
  height: 3em;
  border: none;
  background: none;;
  font-weight: bold;
  width: fit-content;
  max-width: 100%;
}